body {
font-family: 'Open Sans', sans-serif;
}

/* header */
header {
  height: 650px;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
header li {
  display: inline;
}
.header-top {
  height: 60px;
  line-height: 60px;
  position: fixed;
  width: 100%;
  background-color:white;
  z-index: 1;
}

.header-top .logo-white {
  height: 14px;
}

.main-menu {
  text-align: right;
}

.main-menu li {
  padding-right: 40px;
  list-style: none;
}

.main-menu li a {
  text-decoration: none;
  font-size: 10px;
  color: black;
  font-weight: bold;
}

.side-menu li a {
  text-decoration: none;
  font-size: 10px;
  color:black;
  font-weight: bold;
}

.English {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 8px;
}

.btn {
  background-color: black;
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-left: 15px;
}
header{
  position: relative;
}
.title {
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50% , -50%);
  line-height: 60px;
}

h1 {
  font-size: 50px;
  color:white;
}

.header-bottom h3 {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.header-bottom ul {
  text-align: center;
}
.header-bottom img {
  height: 50px;
  display: inline;
  margin: 20px;
}

.bars {
  display: none;
}
/*/ header */

/* main */
/* prima sezione */
.helbiz-go-bike {
  height: 800px;
}

.scooter, .bike {
  height: 500px;
  width: 100%;
  text-align: center;
  margin-left: 5%;
  margin-top: 12%;
  line-height: 50px;
}

.helbiz-go-bike p {
  font-size: 20px;
}

.helbiz-go-bike .logo {
  height: 25px;
}

.learn-more {
  text-decoration: none;
  color: #008ED5;
  font-size: 20px;
}
.scooter img {
  height: 75%;
}
.bike img {
  height: 75%;
}
/* /prima sezione */

/* seconda sezione */
.old-man {
  height:900px;
  background-image: url("../img/image.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* .phone {
  margin-top: 50px;
}
.phone h2 {
  font-size: 35px;
  line-height: 50px;
  text-align: left;
} */

/* /seconda sezione */
.smart-mobility {
  height: 550px;
  margin-top: 130px;
}
.smart {
 background-image:url("../img/scooter.jfif");
 background-size: contain;
 background-repeat: no-repeat;
 height: 100%;
}

.smart-mobility h2 {
  width: 60%;
  color: white;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
}
.smart-mobility p {
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  width: 55%;
  margin-bottom: 20px;
}
.learn , .system {
  text-decoration: none;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.monopattino {
  height: 400px;
  width: 100%;
  text-align: center;
  margin-left: 5%;
  margin-top: 12%;
  line-height: 50px;
}
/* terza sezione */
.find-us {
  margin:0;
}
.gradiente {
  height: 800px;
  background: linear-gradient(#41566a,#252f38) 50% no-repeat;
  width: 49%;
  float: left;
  text-align: center;
  position: relative;
}

.gradiente h2 , .city h2 {
  font-size: 45px;
  font-weight: bold;
  line-height: 60px;
  color: white;
  margin-top: 100px;
  margin-bottom: 20px;
}

.city {
  background-image: url("../img/city.jpg");
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 49%;
  float: left;
  margin-left: 2%;
  text-align: center;
}

.system {
  margin-right: 20px;
}

.fa-angle-right {
  margin-left: 5px;
}

.gradiente img {
  position: absolute;
  bottom: 0;
  left: 25%;
}
/* /main */

/* footer */
footer {
  color: white;
  background-color: black;
  text-align: left;
  height: 600px;
}

footer .logo-white {
  width: 30%;
  margin-bottom:100px;
  margin-top: 75px;
}

.footer-top h2 {
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
  width: 65%;
}
/* /footer */

footer ul li {
  list-style: none;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.head-list {
  font-size: 20px;
  margin-top: 75px;
  font-weight: 400;
}

.head-list ul li {
  margin-top: 10px;
}


/* Smartphone < 768px */

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  .bars {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 25px;
    color: black;
  }
  header {
    height: 450px;
  }

  .header-top .logo-white {
    height: 15px;
    top: 20px;
    left: 20px;
    position: absolute;
  }
  .header-bottom h1 {
    width: 520px;
    font-size: 35px;
  }
  .header-bottom h3 {
    font-size: 17px;
    width: 530px;
  }

.old-man {
  margin-top: 450px;
  background-position-y: 25%;
}
.smart-mobility {
  height: 490px;
  margin-bottom: 50px;
}
.smart {
  background-position: right;
  background-size: cover;

}
.monopattino h2 {
  margin-top: 60px;
  margin-left: 20%;
  font-size: 35px;
  font-weight: bold;
  width: 50%;
}
.monopattino p{
  margin-left: 16%;
}
.city {
  margin-left: 0;
}
.gradiente img {
  position: absolute;
  left: 20%;
}

.city {
  background-size:cover;
  background-position: center;
}
footer {
  height: 1200px;
}
.contact {
  margin-left: -40px;
}
}




/* Tablet 769 - 992 */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* header */
  nav {
    display: none;
  }
  .bars {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 25px;
    color:  black;
  }

  .header-bottom h1 {
    width: 740px;
  }

  .header-top .logo-white {
    height: 15px;
    top: 20px;
    left: 20px;
    position: absolute;
  }

/* main */
.monopattino h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 40px;
  width: 70%;
}

.monopattino p {
  margin-left: 40px;
  width: 325px;
}

.smart {
  height: 500px;
  background-size: auto;
  background-position-x: 35%;
}

.gradiente img {
 position: absolute;
 left: 7.5%;
}
.city {
  background-size:cover;
  background-position: center;
}

/* footer */
footer {
  height: 1000px;
}

.footer-top h2 {
  width: auto;
  font-weight: bold;
}

.head-list {
  font-weight: bolder;
  margin-top: 20;
}

.programs {
  /* margin-top: 250px; */
}
}
